* {
  box-sizing: border-box;
}

#container {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  position: relative;
  border: 1px dashed red;
}

.box {
  position: absolute;
  border: 4px solid #000000;
}

.box:nth-of-type(1) {
  background-color: red;
  width: 200px;
  height: 200px;
}

.box:nth-of-type(2) {
  background-color: #e7e7e7;
  width: 300px;
  height: 200px;
  left: 200px;
}

.box:nth-of-type(3) {
  background-color: #e7e7e7;
  width: 200px;
  height: 100px;
  top: 200px;
  left: 0;
}
