/* -------Laptop CSS------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) {
  #container1 {
    height: 1500px;
    width: 2800px;
    position: fixed;
    overflow: scroll;
    margin-top: -590px;
    margin-left: -600px;
  }

  #container2 {
    display: none;
  }

  p {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
  }
  mark {
    background-color: black;
  }
  button {
    font-size: 100%;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 800;
    border: 0em;
    padding: 0em;
    background-color: black;
  }
  button:focus {
    outline: 0;
  }
  #fading {
    color: rgb(228, 1, 1);
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  html {
    display: inline-block;
  }
  #container 1 {
    display: none;
  }
  #container2 {
    margin-top: -590px;
    margin-left: -600px;
  }
  p {
    word-break: keep-all;
    line-break: initial;

    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
  }
  button {
    font-size: 100%;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 800;
    border: 0em;
    padding: 0em;
    /* color: rgb(228, 1, 1); */
    background-color: transparent;
  }
  button:focus {
    outline: 0;
  }
}
