body {

}

header {
    font-family: 'Work Sans', sans-serif;
}

div {
    font-family: 'Lexend Mega', sans-serif;
}

.classheader {
    color: rgb(209, 208, 208);
}

.weekheader {
    color: rgb(189, 185, 185);
}

a {
    color: ;
    text-decoration: none;
}