body {
  background-color: lightblue;
}

header {
  padding: 10px 0px 30px 30px;
}

div {
  color: white;
}

#line01 {
  padding: 0px 0px 0px 450px;
}

#line02 {
  padding: 0px 0px 0px 430px;
}

#line03 {
  padding: 0px 0px 0px 330px;
}

#line04 {
  padding: 0px 0px 0px 300px;
}

#line05 {
  padding: 0px 0px 0px 270px;
}

#line06 {
  padding: 0px 0px 0px 260px;
}

#line07 {
  padding: 0px 0px 0px 260px;
}

#line08 {
  padding: 0px 0px 0px 280px;
}

#line09 {
  padding: 0px 0px 0px 260px;
}

#line10 {
  padding: 0px 0px 0px 230px;
}

#line11 {
  padding: 0px 0px 0px 200px;
}

#line12 {
  padding: 0px 0px 0px 140px;
}

#line13 {
  padding: 0px 0px 0px 150px;
}

#line14 {
  padding: 0px 0px 0px 170px;
}

#line15 {
  padding: 0px 0px 0px 180px;
}
