/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  html {
    display: inline-block;
  }
  #container {
    margin-top: -590px;
    margin-left: -600px;
  }
  p {
    word-break: keep-all;
    line-break: initial;

    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
  }
  button {
    font-size: 100%;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 800;
    border: 0em;
    padding: 0em;
    /* color: rgb(228, 1, 1); */
    background-color: transparent;
  }
  button:focus {
    outline: 0;
  }
}
