body {
  background-color: lightblue;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

#cloud {
  margin: 200px 0px 0px 0px;
  color: white;
  font-size: 25px;
  font-family: "Sniglet", cursive;
}

#line01 {
  padding: 0px 0px 0px 480px;
}

#line02 {
  padding: 0px 0px 0px 460px;
}

#line03 {
  padding: 0px 0px 0px 360px;
}

#line04 {
  padding: 0px 0px 0px 330px;
}

#line05 {
  padding: 0px 0px 0px 300px;
}

#line06 {
  padding: 0px 0px 0px 290px;
}

#line07 {
  padding: 0px 0px 0px 290px;
}

#line08 {
  padding: 0px 0px 0px 310px;
}

#line09 {
  padding: 0px 0px 0px 290px;
}

#line10 {
  padding: 0px 0px 0px 260px;
}

#line11 {
  padding: 0px 0px 0px 230px;
}

#line12 {
  padding: 0px 0px 0px 170px;
}

#line13 {
  padding: 0px 0px 0px 180px;
}

#line14 {
  padding: 0px 0px 0px 200px;
}

#line15 {
  padding: 0px 0px 0px 230px;
}
